@model GeoMapper.ViewModels.SearchingFormViewModel
<form id="searching_form" class="form-inline" asp-action="FindLocation" asp-controller="Home" asp-antiforgery="true" novalidate>
    <div class="form-group">
        <label class="form-lb" asp-for="Location">Location:</label>
        <div class="valid-input">
            <input class="form-control" asp-for="Location" name="Location" type="text" required/>
            <span class="invalid-feedback" asp-validation-for="Location"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="form-lb" asp-for="Frequency">Frequency:</label>
        <div class="valid-input">
            <input class="form-control" asp-for="Frequency" name="Frequency" type="number" value="1"/>
            <span class="invalid-feedback" asp-validation-for="Frequency"></span>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>